body {
  background-image: url("/images/kitchen-doors.jpg");
  padding: 50px;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-weight: 700;
  color: white;
}

h3 {
  color: white;
}

#white {
  color: white;
}

footer {
  border-color: white;
  color: white;
}

a {
  color: #00B7FF;
}
