body {
  background-image: url("/images/kitchen-doors.jpg");
  padding: 50px;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-weight: 700;
  color: white;
}

h3 {
  color: white;
}

#white {
  color: white;
}

footer {
  border-color: white;
  color: white;
}

a {
  color: #00B7FF;
}

.custab{
  background-color: rgba(255,255,255, 0.8);
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}