<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav nav-pills">
      <a class="navbar-brand pull-left" href="#">SchedulEase</a>
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="schedule">Schedule</a></li>
        <li ui-sref-active="active"><a ui-sref="employees">Employees</a></li>
        <li ui-sref-active="active"><a ui-sref="restaurant">Restaurant</a></li>
    </ul>
  </div>
</nav>

